/* Universal and shared style here */

body {
  max-width: 1280px;
  margin: 0 auto;
}

/* nav related style here */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: noto;
}

.nav-container ul {
  display: flex;
  gap: 0 20px;
  list-style: none;
}

.nav-container ul li a {
  text-decoration: none;
}

.h1 {
  font-family: noto-serif;
}

/* banner section related style here */

.banner-container {
  height: 450px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: end;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
}

.banner-title span {
  color: #e95a08;
}

.banner-description {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f1f1f;
}

/* our plants related style here */
.our-plants-section {
  padding: 10px;
  position: relative;
}

.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px 2px;
}
.our-plants {
  text-align: center;
}
.plants-title {
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 10px;
}
.plants-title span {
  color: #e95a08;
}
.plants-description {
  font-size: 1.5rem;
  color: #1f1f1f;
  /* max-width: 800px; */
  text-align: center;
  padding: 0 100px;
}

.plants-card {
  border: 1px solid;
  width: 270px;
  height: fit-content;
  box-sizing: border-box;
  margin: 10px;
}

.plants-card img {
  width: 268px;
}

.plants-card h3 {
  color: #1f1f1f;
  font-size: 1.2rem;
  text-align: center;
}

.plants-card button {
  width: 270px;
  padding: 10px;
  background-color: #e95a08;
  color: white;
  font-size: 1.1rem;
  border-style: none;
}
